{% extends "base.html" %} 
{% block title %} MyHazard Haiti {% endblock %} 


{% block header_append %}
<script type="text/javascript">
Ext.onReady(function(){
   {% autoescape off %}

    var bbox = new GeoNode.BoundingBoxWidget({
         proxy: "/proxy/?url=",
         background: {{ background }},
         renderTo: 'sidebar',
    });

    var searchTable = new GeoNode.SearchTable({
        renderTo: 'layer_data',
        trackSelection: true,
        searchURL: '{% url geonode.maps.views.metadata_search %}',
        constraints: [bbox],
        searchParams: {{init_search}}
    });
    searchTable.hookupSearchButtons('sidebar');
    
    var dataCart = new GeoNode.DataCart({
      store: searchTable.dataCart,
      renderTo: 'data_cart'
    });
    
    var dataOps = new GeoNode.DataCartOps({
      cart: dataCart,
      renderTo: 'data_ops'
    });
    
    
    {% endautoescape %}
});
</script>
{% endblock %}


{% block content %} 
<div class="short-map" id="map"></div>

<ul class="tabs hazard"> 
  <li>
    <a href="{% url hazard-index %}">Welcome</a>
  </li> 
  <li>
    <a href="{% url hazard-maps %}">Maps</a>
  </li> 
  <li><a href="{% url hazard-reports %}">Reports</a></li> 
  <li class="active"><a href="{% url data-search %}">Data Search</a></li> 
  <li class="search"> 
    <form action="{% url data-search %}" method="GET">
      <input type="text" name="query" /> 
    </form>
  </li>
</ul>
<div id="content">

  <div class="wrapper">
    <h3>
      Data Search Results
    </h3>

    <div id="layer_data"></div>
    
    <br/>
    <div>
      <h3>Selected Data</h3>
      <p>
      Use the checkboxes in the search results to
      add data to the selection below.
      </p>
  
      <div id="data_cart"></div>
    </div>

    <div id="data_ops">
      <ul>
        
      </ul>
      </form>
    </div>
    <br/>

  </div>

</div>
{% endblock %} 
