{% extends "base.html" %} 
{% block title %} MyHazard Haiti {% endblock %} 


{% block header_append %}
<script type="text/javascript" src="/static/jquery.js"></script>

<script type="text/javascript">
    function make_record(record) { 
        return "<p><strong>"+ record.title +"</strong></p>";
    } 

 $(document).ready(function(){
     $.getJSON("/data/search/",function(data) { 
         for(var i = 0; i < data.rows.length; i++) { 
             $("#search-query").append(make_record(data.rows[i]));
         };
     });              
     $("#search").click(function(){          
         $.getJSON("/data/search/",function(data) { 
             console.log(data);
         }); 
     });
 });  
</script>
{% endblock %}


{% block content %} 
<div class="short-map" id="map"></div>

<ul class="tabs hazard"> 
  <li>
    <a href="{% url hazard-index %}">Welcome</a>
  </li> 
  <li>
    <a href="{% url hazard-maps %}">Maps</a>
  </li> 
  <li><a href="{% url hazard-reports %}">Reports</a></li> 
  <li class="active"><a href="{% url data-search %}">Data Search</a></li> 
  <li class="search"> 
    <form action="{% url data-search %}" method="GET">
      <input type="text" name="query" /> 
    </form>
  </li>
</ul>
<div id="content">
<div class="wrapper">
  <div id="left">
      <h4>Search results for...</h4> 
        <input type="text" name="query" value="Hazard"/>
        <input type="submit" id="search" value="Search" />
      <hr />
      <div id="search-query"></div>
  </div>
  <div id="right">
    <p>Search for</p> 
    <ul> 
      <li><a href="?query=all">All (300)</a></li>
      <li><a href="?query=hazard-data">Hazard Data</a></li>
      <li><a href="?query=damage-data">Damage Data</a></li>
      <li><a href="?query=reference-data">Reference Data</a></li>
      <li><a href="?query=maps">Maps</a></li>
    </ul>
  </div>
</div>
</div>
{% endblock %} 
