<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
    <head> 
        <title> </title>
        <link rel="stylesheet" href="/static/screen.css" type="text/css" media="screen" charset="utf-8">
         <!--[if lte IE 6]>
             <link rel="stylesheet" href="static/ie6.css" type="text/css" media="screen" charset="utf-8">
             <![endif]-->

       
    </head>         
<body>
<div id="intro"> 
  <h1>Haiti Data Dissemination Web Portals</h1>
  <ul> 
  <li>
    <a href="/hazard/">MyHazard Haiti Portal</a>
  </li> 
  <li>
    <a href="/damage/">Damage Assessment Data Dissemination</a>
  </li> 
  <li> 
    <p>Supported by the <a href="#">World Bank</a> Developed by <a href="#">OpenGeo</a> Powered by <a href="#">GeoNode</a></p>

</ul>
</div>
 
      </div>
    </body> 
</html> 
