{% extends "base.html" %} 

{% block header_append %} 
   <script src="{{ MEDIA_URL }}/ol/OpenLayers.js"></script> 

   <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/externals/ext/resources/css/ext-all.css" /> 
   <script type="text/javascript" src="{{ MEDIA_URL }}/externals/ext/adapter/ext/ext-base.js"></script> 
   <script type="text/javascript" src="{{ MEDIA_URL }}/externals/ext/ext-all-debug.js"></script> 

   <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/externals/geoext/resources/css/geoext-all-debug.css" />
   <script src="{{ MEDIA_URL }}/externals/geoext/lib/GeoExt.js"></script> 
   <script src="{{ MEDIA_URL }}/externals/gxp/src/script/loader.js"></script> 


    <script src="{{ MEDIA_URL }}/build/geonode-client/gn/ux.js"></script> 
    <script src="{{ MEDIA_URL }}/build/geonode-client/gn/GeoNode.js"></script> 
    <script src="{{ MEDIA_URL }}/js/hazard.js"></script> 
    <script type="text/javascript"> 
      printMaps(); 
    </script>

{% endblock %}

{% block content %} 
<div class="short-map" id="map">
</div> 

<ul class="tabs hazard"> 
  <li>
    <a href="{% url hazard-index %}">Welcome</a>
  </li> 
  <li class="active">
    <a href="{% url hazard-maps %}">Maps</a>
  </li> 
  <li><a href="{% url hazard-reports %}">Reports</a></li> 
  <li><a href="{% url data-search %}">Data Search</a></li> 
  <li class="search"> 
    <form action="{% url data-search %}" method="GET">
      <input type="text" name="query" /> 
    </form>
  </li>
</ul>
<div id="content"> 
  <h3>Print ready maps</h3>

    <div id="pdf-grid"> </div>

</div>
{% endblock %}
